ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;

    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}

li {
    display: block;
    color: white;
    text-align: center;
    padding-top: 8px ;
    text-decoration: none;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 5px 10px;
    text-decoration: none;
}